.navbar .navbar-nav {
    display: inline;
    float: none;
    vertical-align: top;
    width:100%;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar-Item{
    margin-left:5px;
    margin-right:5px;
  }